In [1]:
 print('How are you?')

How are you?

In [2]:
x=10 
print('Hello world!', x)

Hello world! 10

In [3]:
print('your name?')
myStatus = input()

your name?
chandhini

In [4]:
print('Nice to meet you, {}'.format(myStatus))

Nice to meet you, chandhini

In [5]:
str(14)
print('He is {} years old'.format(str(14)))
int(6.7)

He is 14 years old

6

In [6]:
71 == 70

False

In [7]:
'man' == 'man'

True

In [8]:
'man' == 'Man'

False

In [9]:
'bat' != 'butterfly'

True

In [10]:
50 == 50.0

True

In [11]:
1 == '1'

False

In [12]:
True == True

True

In [13]:
(43< 57) and (3 < 9)

True

In [14]:
name = 'Peter'
if name == 'Peter':
    print('Hello, Peter')

Hello, Peter

In [15]:
var = 0
while var < 10:
    print('Hello, world.')
    var = var + 1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

In [16]:
for var in range(1, 10):
    print("Loop running...")
print('Loop exited')

Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop running...
Loop exited

In [17]:
for var in range(1, 20, 2):
    print("Loop running with step size of 2...")
print('Loop exited')

Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop running with step size of 2...
Loop exited

In [18]:
import random
for i in range(5):
    print("Random integer is", random.randint(1, 30))

Random integer is 8
Random integer is 15
Random integer is 30
Random integer is 25
Random integer is 21

In [19]:
from collections import Counter
List = [1, 2, 3, 4, 5, 5, 1]
Cnt = Counter(List)
print(Cnt)

Counter({1: 2, 5: 2, 2: 1, 3: 1, 4: 1})

In [20]:
def checkParity(num):
    if(num % 2 == 0):
        print("Number is even")
    else:
        print("Number is odd")
num = 5
checkParity(num)

Number is odd

In [21]:
def divideBy(num):
    try:
        print(10 / num)
    except:
        print("Cannot divide by 0")
    finally:
        print("Division finished")
num = 0
divideBy(num)

Cannot divide by 0
Division finished

In [22]:
list = ['truck', 'car', 'submarine', 'jet']

In [23]:
list

['truck', 'car', 'submarine', 'jet']

In [24]:
list[0]

'truck'

In [25]:
 list[-2]

'submarine'

In [26]:
list[1] = 'bike'

In [27]:
list

['truck', 'bike', 'submarine', 'jet']

In [28]:
list[2] = list[1]
list

['truck', 'bike', 'bike', 'jet']

In [29]:
[4, 5, 6] + ['P', 'Q', 'R']

[4, 5, 6, 'P', 'Q', 'R']

In [30]:
['A', 'B', 'C'] * 4

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

In [31]:
list = [1, 2, 3]
list = list + ['X', 'Y', 'Z']
list

[1, 2, 3, 'X', 'Y', 'Z']

In [32]:
list = ['truck', 'car', 'submarine', 'jet']
del list[2]
list

['truck', 'car', 'jet']

In [33]:
products = ['bag', 'rubber', 'knife', 'cooker']
for i, product in enumerate(products):
    print('Index {} in products is: {}'.format(str(i), product))

Index 0 in products is: bag
Index 1 in products is: rubber
Index 2 in products is: knife
Index 3 in products is: cooker

In [34]:
name = ['David', 'Mike', 'Tommy']
age = [10, 31, 54]
for n, a in zip(name, age):
    print('{} is {} years old'.format(n, a))

David is 10 years old
Mike is 31 years old
Tommy is 54 years old

In [35]:
list = ['cap', 'owl', 'pen', 'rubber']
'truck' in list

False

In [36]:
 'pen' not in list

False

In [37]:
'train' not in list

True

In [38]:
list = ['notebook', 'pen', 'eraser', 'sharpener']
list.index('pen')

1

In [39]:
list = ['car', 'truck', 'bike']
list.append('bicycle')
list

['car', 'truck', 'bike', 'bicycle']

In [40]:
list = ['car', 'truck', 'bike']
list.insert(1, 'bicycle')
list

['car', 'bicycle', 'truck', 'bike']

In [41]:
list.remove('bike')
list

['car', 'bicycle', 'truck']

In [42]:
list = [2, 3, 1]
list.sort()
list

[1, 2, 3]

In [43]:
book = {'color': 'red', 'price': 160}
for v in book.values():
    print(v)

red
160

In [44]:
for k in book.keys():
    print(k)

color
price

In [45]:
for i in book.items():
    print(i)

('color', 'red')
('price', 160)

In [46]:
items = {'chairs': 5, 'tables': 2}
'There are {} tables.'.format(str(items.get('tables', 0)))

'There are 2 tables.'

In [47]:
'There are {} computers.'.format(str(items.get('computers', 0)))

'There are 0 computers.'

In [48]:
'color' in book

True

In [49]:
s = {2, 4, 6}
s = set([2, 4, 6])
s

{2, 4, 6}

In [50]:
type(s)

set

In [51]:
a = {1, 2, 3, 4, 5}
a.add(6)
a

{1, 2, 3, 4, 5, 6}

In [52]:
set = {0, 1, 2, 3, 4}
set.update([2, 3, 4, 5, 6])
set

{0, 1, 2, 3, 4, 5, 6}

In [53]:
set = {1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

In [54]:
set.discard(2)
set

{1, 3}

In [55]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [56]:
s3 = {3, 4, 5}
s1.intersection(s2, s3)

{3, 4}

In [57]:
s1.difference(s2)

{1, 2}

In [58]:
s2.difference(s1)

{5, 6}

In [59]:
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [60]:
import itertools
import operator
data = [1, 2, 3, 4, 5]
result = itertools.accumulate(data, operator.mul)
for each in result:
    print(each)

1
2
6
24
120

In [61]:
operator.mul(3, 5)

15

In [62]:
import itertools
data = [1, 2, 3, 4, 5, 6, 7]
result = itertools.accumulate(data)
for each in result:
    print(each)

1
3
6
10
15
21
28

In [63]:
import itertools
shapes = [1, 2, 3, 4, 5]
combinations = itertools.combinations(shapes, 2)
for combination in combinations:
    print(combination)

(1, 2)
(1, 3)
(1, 4)
(1, 5)
(2, 3)
(2, 4)
(2, 5)
(3, 4)
(3, 5)
(4, 5)

In [64]:
import itertools
shapes = [1, 2, 3, 4, 5]
combinations = itertools.combinations_with_replacement(shapes, 2)
for combination in combinations:
    print(combination)

(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(3, 3)
(3, 4)
(3, 5)
(4, 4)
(4, 5)
(5, 5)

In [65]:
import itertools
for i in itertools.count(1, 3):
    print(i)
    if i >= 15:
        break

1
4
7
10
13
16

In [66]:
import itertools
arr = [1, 2, 3, 4, 5]
c = 0
for itr in itertools.cycle(arr):
    if(c > 20):
        break
    print(itr)
    c += 1

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1

In [67]:
dict = {1: 2, 3: 4, 5: 6}
{value: key for key, value in dict.items()}

{2: 1, 4: 3, 6: 5}

In [68]:
a= [i for i in range(1, 20)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [69]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
a = [i+1 for i in a]
a

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [70]:
add = lambda a, b: a + b
add(1, 2)

3

In [71]:
a = 4
'Value is %x' % a

'Value is 4'

In [72]:
a = 4
'Value is {}'.format(a)

'Value is 4'

In [73]:
a = 4
f'Value is {a}'

'Value is 4'

In [74]:
a = 5
print('Number is even' if a % 2 ==0 else 'Number is odd')

Number is odd